<%- include("partials/header"); -%>
<div class="container">

  <div class="jumbotron">

    <!-- Tree Name -->
    <h1 class="display-5"> <%= tree.name %> </h1>

    <!-- Owner Name -->
    <p class="lead"> <%= tree.owner %> </p>

    <!-- Previous Contriburion -->
    <label for="lastContribution">Last Contribution:</label>
    <form action="/input" method="post">
      <div class="form-group">
        <p class="text-muted">
          <%= tree.contributions[tree.contributions.length - 1].content %>"</p>
      </div>

      <!-- New Contriburion -->
      <div class="form-group">
        <label for="userText">Your Contribution:</label>
        <textarea type="text" class="form-control" id="userText" rows="3" name="content"></textarea>
        <small id="usageGuide" class="form-text text-muted">
          Please follow the rules listed here.</small>
      </div>

      <!-- Username -->
      <div class="form-group">
        <label for="userName">Your Nickname:</label>
        <input type="text" class="form-control" id="userName" placeholder="e.g. PinkSkyBlue" name="nickname">
      </div>

      <!-- TreeID HIDDEN -->
      <input type="hidden" name="treeID" value="<%=tree._id%>">

      <!-- Submit -->
      <button type="submit" class="btn btn-primary" name="button">Submit</button>
    </form>

  </div>
</div>
<%- include("partials/footer"); -%>
